* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  height: 100vh;
  width: 100%;
  background: url(img/sky.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}

h1 {
  background: url(img/nigeria.jpg);
  font-size: 7rem;
  font-weight: bold;
  color: rgba(12, 161, 37, 0.226);
  background-size: cover;
  background-repeat: no-repeat;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.plane {
  width: 700px;
  display: block;
  position: absolute;
  /* top: 0; */
  bottom: 0;
  left: 0;
  animation: fly 5s linear infinite;
}

@keyframes fly {
  0% {
    transform: translateY(-0px);
  }
  50% {
    transform: translateY(-300px);
  }

  100% {
    transform: translateX(3000px);
  }
}
